---
import BaseLayout from '../layouts/BaseLayout.astro';
import Map from '../components/Map.astro';
import Filters from '../components/Filters.astro';
---

<BaseLayout>
  <main>
    <Filters />
    <Map />
  </main>
</BaseLayout>
