---
import BaseLayout from '../layouts/BaseLayout.astro';
import Map from '../components/Map.astro';
import Filters from '../components/Filters.astro';
import LocationSearch from '../components/LocationSearch.astro';
---

<BaseLayout>
  <main>
    <LocationSearch />
    <Filters />
    <Map />
  </main>
</BaseLayout>

<style>
  main {
    position: relative;
    flex: 1;
    min-height: 0;
  }
</style>
